[bumpversion]
current_version = 0.1.10
commit = True
tag = True
message = 🔖 Bump version: {current_version} → {new_version}

[bumpversion:file:VERSION]

[bumpversion:file:pyproject.toml]

[bumpversion:file:anystore/__init__.py]
